body {
  height: 1200px;
  margin-top: 51px;
}

#upload-btn {
  margin-top: 15px;
}

.post {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: #ccc solid 1px;
}

.post:last-child {
  border: none;
}
